#cloud-config
preserve_hostname: true
# hostname: test-ubuntu-cloud-config
timezone: Europe/Moscow
users:
  # - default
  - name: ${username}
    passwd: "$6$ZfYJbwABJMWU8jZc$U496aFaBwEle.VZHOLOraykXNOQkvOhlHsxfb.Gh8XjYVPippHApIztMbcBk4Rn787xviGsd0ckl4V9CSFxNl."
    lock_passwd: false
    groups:
      - sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKKb8Ba0ljYNKK5gJlaOKqwskwlsvZzB/Ka8CWmpGHkL fills@dell
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIChOrc4XQxlBH9ZEHI35Hj1p5521D8+qjIrHzEWITkx2 fill@terraform
chpasswd:
  expire: false
package_update: true
packages:
  - qemu-guest-agent
  - net-tools
  - curl
  - chrony
  - tzdata
runcmd:
  - systemctl enable qemu-guest-agent --now
  - systemctl enable chronyd --now
  - echo "done" > /tmp/cloud-config.done